@using Field_Groove.Application.Constants

<div class="d-flex justify-content-center align-items-center">
    <div class="container d-flex justify-content-between pt-4">
        <div>
            <a asp-controller="Home" asp-action="Dashboard"><img src="/images/logo-fieldgroove-blue.svg" alt="Feild_groove" width="270" /></a>
        </div>
        <div>
            <ul class="list-unstyled hstack gap-xl-4 gap-lg-0 navItems">
                <li class="pe-3"><a class="btn">@ApplicationConstants.Item1</a></li>
                <li class="pe-3">
                    <a class="btn dropdown-toggle text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                        @ApplicationConstants.Item2
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark navItems2" style="background-color:#182446;width:260px">
                        <li><a class="dropdown-item" href="#">flooring</a></li>
                        <li><a class="dropdown-item" href="#">roofing</a></li>
                        <li><a class="dropdown-item" href="#">drywall</a></li>
                        <li><a class="dropdown-item" href="#">insulation</a></li>
                    </ul>
                </li>
                <li class="pe-3"><a class="btn">@ApplicationConstants.Item3</a></li>
                <li class="pe-3"><a class="btn">@ApplicationConstants.Item4</a> </li>
                <li class="pe-3"><a class="btn" asp-controller="Account" asp-action="Login">@ApplicationConstants.Item5</a> </li>
                <li><a class="btn navItems2" asp-controller="Account" asp-action="Register">@ApplicationConstants.Item6</a></li>
            </ul>
        </div>
    </div>
    <div>
        <div class="container">
        </div>
    </div>
</div>
