@using Field_Groove.Application.Constants;
@model ChangePasswordModel

<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<div class="LoginDiv">
	<div class="container d-flex justify-content-between pt-4">
	</div>
	<div class="BgImg d-flex flex-column justify-content-between mt-5">
		<div class="container d-flex flex-column align-items-center p-0 mt-5">
			<img src="/images/logo-fieldgroove-blue.svg" alt="Feild_groove" width="270" class="pb-5" />
			<form id="LoginForm" class="w-50 p-5 Loginformstyles rounded-2 ">
				<div class="">
					<h3 class="text-center">Change Password</h3>

					<div class="vstack gap-1 mt-3">
						<label asp-for="@Model.Old_Password" class="form-label">Old Password</label>
						<input type="password" asp-for="@Model.Old_Password" class="form-control py-1 px-1" />
					</div>
					<div class="vstack gap-1 mt-3">
						<label asp-for="@Model.New_Password" class="form-label">New Password</label>
						<input type="password" asp-for="@Model.New_Password" class="form-control py-1 px-1" />
					</div>
					<div class="vstack gap-1 mt-3">
						<label asp-for="@Model.Confirm_Password" class="form-label">Confirm Password</label>
						<input type="password" asp-for="@Model.Confirm_Password" class="form-control py-1 px-1" />
					</div>
					<div class="d-flex justify-content-center mt-4">
						<button type="submit" class="Signbtn btn d-flex align-items-center justify-content-center text-white">
							Submit
						</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<div>
		<div class="LoginFooterBg">
			<div class="container LoginFooter">
				<div class="mb-2">
					<img src="/images/logo-footer.jpg" alt="Footer Logo" />
				</div>
				<div class=" d-flex justify-content-between">
					<div class="w-25">
						<p class="text-justify lh-lg">
							Copyright © FieldGroove, LLC 2024. All Rights Reserved.716 Newman Springs Road, Suite 307 Lincroft, NJ 07738
						</p>
						<p>
							<a href="#" style="color:#E76655;text-decoration:none">Privacy Policy</a>
						</p>
					</div>
					<div class="w-25">
						<p class="text-justify lh-lg">
							We would love to show you the power of FieldGroove.
							To setup a demo or get an account setup, please contact us at
							<a style="color:#E76655;text-decoration:none" href="#">@ApplicationConstants.LoginFooterEmail</a>
							or by phone at
							<a style="color:#E76655;text-decoration:none" href="#">@ApplicationConstants.LoginFooterPhone</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="fixedchatbtn">
			<button class="border-0 rounded-circle p-2" style="background-color:#3957A9">
				<span class="heroicons--chat-bubble-left-right-solid"></span>
			</button>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/js/Login.js" asp-append-version="true"></script>
}
